.body {
  margin: auto;
}

.profile-card {
  max-width: 200px;

}

.profile-card__avatar {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  /* object-fit: cover; */
}

.profile-card--featured {
  border: 20px solid gold;
}

.profile-photo {
  width: 100%;
}